@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

:root {
    font-family: 'Nunito', sans-serif;
    --main-color: #2b1911;
    --accent-color: white;
    scroll-behavior: smooth;
}

header .info ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    background-image: url(../img/colored.jpg);
    padding: 30px;
    color: var(--accent-color);
    font-size: 1.3em;
    font-weight: 400;
    background-size: cover;  
    margin: 0px;
}

.selected {
    color: #F9C504;
    font-weight: 600;
    font-style: bold;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    background-color: #F7F5EE;
    padding: 40px;

}

header nav .navbar ul {
    display: flex;
    list-style-type: none;   
}

header nav .navbar ul a {
    float: left;
    margin: 0 20px;
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 700;
}

header nav .logo img {
    width: 300px;
    height: 200px;
    
}

@media (min-width: 610px) {
    header nav {
        display: flex;
    }
}

header nav .controls .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--main-color);
    background-color: #F9C504;
    border: none;
    border-radius: 15px;
}

.controls .button:hover {background-color: #F9C504}

.controls .button:active {
    background-color: #F9C504;
    transform: translateY(4px);
}

header nav .controls {
    display: block;
    justify-content: space-around;
}

 header nav .controls .fa {
     display: block;
}

.fa {
    padding: 13px;
    font-size: 1.5rem;
    width: 0.5em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
 
main .proposition {
    background-image: url(../img/colored.jpg);
    background-size: cover;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    width: auto;
    color: var(--main-color);
    padding: 10em 5em 8em 5em;
}

main .textcols-item {
    display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
    height: 48%;
    background-color: #F7F5EE;
    margin: 17px;
    padding: 1.8em;
}

.textcols-item + .textcols-item {
    margin-left: 4%;
    background: rgba(247,245,238,0.5);
    margin: 17px;
}

main ul {
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 4em;   
   text-decoration: overline;
}

.raz{
    padding: 1em;
    font-size: 2rem;
    background-color: #F7F5EE;
    background: rgba(247,245,238,0.5);
    margin: 17px;
}
 
h1 {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 700;  
}

h2 {
   color: var(--main-color);
   font-size: 3rem;
   font-weight: 800;  
}

.center{
   text-align: center;
   font-size: 3rem;
   font-weight: 800; 
   margin: 3em;
}

.news img {
   padding: 0.7rem;
}

.why-us {
   background-image: url(../img/background-flower.jpg);
   box-shadow: inset 0 0 0 1000px rgba(242,237,232,0.5);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.saparate {
    text-align: center;
    font-weight: 600;
    line-height: 2em;
}

